.above-content-text
{
    color:#000;
    float:left;
    margin-left:10px;
    margin-right:10px;
}
#above-content button,
#above-content label
{
    margin:0;
    margin-left:10px;
    padding:0;
    float:left;
    line-height:0;
}
.above-slider
{
    display:block;
    float:left;
    margin-top:0.5em;
    width:90px;
}
#map3d
{
    width:100%;
    height:100%;
}
.tooltip
{
    width:200px;
}
#above-content button.extrude-active
{
    background:none;
    background-color:#bda;
}
#above-content .ui-button-text
{
    font-family:'Helvetica','sans-serif';
    font-size:12px;
    padding:1px 3px 1px 3px;
}
