.above-content-text
{
    float:left;
    margin-left:10px;
    margin-right:10px;
}
#lift-slider,
#exaggeration-slider
{
    display:block;
    float:left;
    margin-top:0.5em;
    width:90px;
}
#map3d
{
    width:100%;
    height:100%;
}
.tooltip
{
    width:200px;
}