{% extends "lizard_ui/lizardbase.html" %}
{% load tools %}

{% block subtitle %}Pilot 3D kustdata voor Deltares{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_kml/viewer.css" />
{% endblock %}

{% block map-javascript %}
<script src="https://www.google.com/jsapi"></script>
<script src="{{ STATIC_URL }}lizard_kml/viewer.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched"
     id="accordion">
  <h2>
  Categorie{% if view.category %} ({{ view.category }}){% endif %}
  </h2>
  <ul id="category-pane"
      class="automatic-tree filetree pane accordion-load-next"
      data-next-pane-id="#kml-resource-pane"
      data-title-id="#category-pane-title">
    {% if view.category_tree %}
      {% with "lizard_ui/tree_snippet.html" as tree_template %}
        {% with view.category_tree as tree_items %}
          {% include tree_template %}
        {% endwith %}
      {% endwith %}
    {% else %}
      <li>Geen categorie&euml;n beschikbaar.</li>
    {% endif %}
  </ul>
  <h2>
  Gegevensbronnen
  </h2>
  <ul id="kml-resource-pane"
      class="automatic-tree filetree pane">
    {% if view.kml_resource_tree %}
      {% with "lizard_kml/tree_snippet.html" as tree_template %}
        {% with view.kml_resource_tree as tree_items %}
          {% include tree_template %}
        {% endwith %}
      {% endwith %}
    {% else %}
      {% if view.category %}
        <li>Geen bronnen beschikbaar voor "{{ view.category }}".</li>
      {% else %}
        <li>Kies een categorie.</li>
      {% endif %}
    {% endif %}
  </ul>
  <h2>
    Workspace
  </h2>
  <ul id="workspace-kml">
  </ul>
  <a href="javascript:void(0)" onclick="kmlViewerUnloadAll()">Maak workspace schoon</a>
</div>
{% endblock %}

{% block above-content %}
<span class="above-content-text">Ophoging:</span>
<span id="lift-slider" class="above-slider"></span>
<span class="above-content-text">Opschaling:</span>
<span id="exaggeration-slider" class="above-slider"></span>
<button id="colormaps-button">Kleurenmap</button>
<button id="extrude-button">Uitvullen</button>
<span class="above-content-text">Transparantie:</span>
<span id="polyalpha-slider" class="above-slider"></span>
<span class="above-content-text">Verschuiving:</span>
<span id="move-slider" class="above-slider"></span>
{% endblock %}

{% block content %}
<div id="map3d"></div>
{% include "lizard_kml/colormap.html" %}
<script>
$(document).ready(function(){
    // Set the slider ranges to 0-500, 1-50
    $("#lift-slider").slider({
        stop: function(event, ui) {kmlViewerSetParam('lift', ui.value);},
        min: 0.0,
        max: 500.0,
        step: 1.0,
        value: 40.0
    });
    $("#exaggeration-slider").slider({
        stop: function(event, ui) {kmlViewerSetParam('exaggeration', ui.value);},
        min: 1.0,
        max: 50.0,
        step: 1.0,
        value: 4.0
    });
    $("#colormaps-button").button();
    $("#colormaps-button").click(function(event, ui) {$("#colormaps").dialog("open");});
    $("#colormaps").dialog({
        autoOpen: false,
        height:300,
        width: 500
    });
    var extrude = false;
    $("#extrude-button").button();
    $("#extrude-button").click(function(event, ui) {
        extrude = !extrude;
        if (extrude)
            $(this).addClass('extrude-active');
        else
            $(this).removeClass('extrude-active');
        kmlViewerSetParam('extrude', extrude ? 1 : 0);
    });
    $("#polyalpha-slider").slider({
        stop: function(event, ui) {kmlViewerSetParam('polyalpha', ui.value);},
        min: 0.0,
        max: 1.0,
        step: 0.05,
        value: 0.8
    });
    $("#move-slider").slider({
        stop: function(event, ui) {kmlViewerSetParam('move', ui.value);},
        min: 0.0,
        max: 2.0,
        step: 0.1,
        value: 0.1
    });
    // load KML viewer
    kmlViewerInit();
});
</script>
{% endblock %}
