{% extends "lizard_ui/lizardbase.html" %}
{% load tools %}

{% block subtitle %}Pilot 3D kustdata voor Deltares{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_kml/viewer.css" />
{% endblock %}

{% block map-javascript %}
<script src="https://www.google.com/jsapi?key=YOURAPIKEY"></script>
<script src="{{ STATIC_URL }}lizard_kml/viewer.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched"
     id="accordion">
  <h2>
  Categorie{% if view.category %} ({{ view.category }}){% endif %}
  </h2>
  <ul id="category-pane"
      class="automatic-tree filetree pane accordion-load-next"
      data-next-pane-id="#kml-resource-pane"
      data-title-id="#category-pane-title">
    {% if view.category_tree %}
      {% with "lizard_ui/tree_snippet.html" as tree_template %}
        {% with view.category_tree as tree_items %}
          {% include tree_template %}
        {% endwith %}
      {% endwith %}
    {% else %}
      <li>Geen categori&euml;n beschikbaar.</li>
    {% endif %}
  </ul>
  <h2>
  Gegevens bronnen
  </h2>
  <ul id="kml-resource-pane"
      class="automatic-tree filetree pane">
    {% if view.kml_resource_tree %}
      {% with "lizard_kml/tree_snippet.html" as tree_template %}
        {% with view.kml_resource_tree as tree_items %}
          {% include tree_template %}
        {% endwith %}
      {% endwith %}
    {% else %}
      {% if view.category %}
        <li>Geen bronnen beschikbaar voor "{{ view.category }}".</li>
      {% else %}
        <li>Kies een categorie.</li>
      {% endif %}
    {% endif %}
  </ul>
</div>

{# disabled: don't support zooming to specific areas yet #}
{% comment %}
<div class="sidebarbox sidebarbox-stretched"
     id="accordion">
<h2>
Categorie
</h2>
<ul id="type-pane" class="automatic-tree filetree pane">
    <li>
    <a href="javascript:void(0)" onclick="kmlViewerLoadKml('{% absurl lizard-kml-kml kml_type='lod' %}')">Lod</a>
    </li>
    <li>
    <a href="javascript:void(0)" onclick="kmlViewerLoadKml('{% absurl lizard-kml-kml kml_type='transect',id='7002111' %}')">Transect</a>
    </li>
</ul>
</div>
{% endcomment %}
{% endblock %}

{% block above-content %}
<span class="above-content-text">Hoogte compensatie:</span>
<span id="lift-slider"></span>
<span class="above-content-text">Overdrijving:</span>
<span id="exaggeration-slider"></span>
{% endblock %}

{% block content %}
<div id="map3d"></div>
<script>
kmlViewerInit();
$(function() {
    // Set the slider ranges to 0-500, 1-50
    $("#lift-slider").slider({
                stop: function(event, ui) {kmlViewerSetLift(ui.value);}

    });
    $("#lift-slider").slider("option", "min", 0);
    $("#lift-slider").slider("option", "max", 500);
    $("#exaggeration-slider").slider({
                stop: function(event, ui) {kmlViewerSetExaggeration(ui.value);}
    });
    $("#exaggeration-slider").slider("option", "min", 1);
    $("#exaggeration-slider").slider("option", "max", 50);

});
</script>
{% endblock %}
