{% extends "lizard_kml/lizard_ui_realbase.html" %}
{# extends "lizard_ui/realbase.html" #}

{% block title %}Kustviewer - Lizard{% endblock %}

{% block css %}
{{ block.super }}
{% comment %}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_kml/extjs-4.1.1-rc2/resources/css/ext-all-scoped.css" />
{% endcomment %}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_kml/extjs-4.1.1-rc2/resources/css/ext-all.css" />
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_kml/viewer.css" />
{% endblock css %}

{% block map-javascript %}
{% comment %}
<script type="text/javascript" src="{{ STATIC_URL }}lizard_kml/extjs-4.1.1-rc2/ext.js"></script>
{% endcomment %}
<script type="text/javascript" src="{{ STATIC_URL }}lizard_kml/extjs-4.1.1-rc2/ext-all.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lizard_kml/viewer.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div id="accordion" class="sidebarbox sidebarbox-stretched">
  <div id="extaccor"></div>
</div>
{% endblock %}

{% block above-content %}
<a href="javascript:void(0)" onclick="kvu.tsc.rewind()">rewind</a>
<a href="javascript:void(0)" onclick="kvu.tsc.togglePlayPause()">play/pause</a>
<a href="javascript:void(0)" onclick="kvu.setDefaultView()">default view</a>
{% comment %}
<a href="javascript:void(0)" onclick="kfc.unloadAll()">unloadAll</a>
<a href="javascript:void(0)" onclick="kvu.replaceMapWithErrorMessage('test')">mkerror</a>
{% endcomment %}
{% endblock %}

{% block content %}
<div id="map3d"></div>
{% endblock %}

{% block page %}
{% include "lizard_kml/colormap.html" %}
{{ block.super }}
<div id="loader">
  <div id="loader-inner"></div>
  <div id="loader-text"><noscript>Om deze site te bezoeken, is een browser met ondersteuning voor Javascript nodig.</noscript></div>
</div>
{% endblock page %}
