<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block css %}
    {# Sprites: all icons (print, info, etc) in one cacheable image. #}
    <link rel="stylesheet"
          href="{% static 'sprites/sprite.css' %}"
          type="text/css"
          media="screen, projection" />
    {# Jquery UI #}
    <link type="text/css"
          href="{% static 'lizard_kml/jquery-ui/css/smoothness/jquery-ui-1.8.24.custom.css' %}"
          rel="stylesheet"
          media="screen, projection" />
    {# Lizard #}
    <link rel="stylesheet"
          href="{% static 'lizard_ui/lizard.css' %}"
          type="text/css"
          media="screen, projection" />
    {% endblock css %}

    {% block javascript %}
    {# Jquery #}
    <script type="text/javascript"
            src="{% static 'lizard_kml/jquery/jquery-1.8.3.js' %}"></script>
    {# Jquery UI #}
    <script type="text/javascript"
            src="{% static 'lizard_kml/jquery-ui/jquery-ui-1.8.24.custom.min.js' %}"></script>
    {# Lizard #}
    <script type="text/javascript"
            src="{% static 'lizard_ui/lizard.js' %}"></script>
    {% endblock javascript %}

    {% block map-javascript %}
    {% endblock map-javascript %}

    {% block head-extras %}
    {# Your own totally-unmanaged per-template extra css/javascript/links #}
    {% endblock head-extras %}

    <link rel="icon" href="{% static 'lizard_ui/favicon.ico' %}" type="images/x-icon" />
    <link rel="SHORTCUT ICON" href="{% static 'lizard_ui/favicon.ico' %}" />
  </head>
  <body>
    {% block page %}
    <div id="page" class="sidebar-open">
      <div class="container">
        {% block header %}
        <div id="header" class="clearfix">
          <div id="logo">
            {% block logo %}
            {% spaceless %}
            <a href="/" id="logo-img" title="{% trans "Back to homepage" %}">
                <img src="{% static 'lizard_ui/logo.png' %}" alt="Lizard" />
            </a>
            {% endspaceless %}
            {% endblock logo %}
          </div>
          <div id="breadcrumbs">
            &raquo; <a href="/" title="{% trans "Back to homepage" %}">Home</a>
            &rarr; <a href="{% url lizard-kml-viewer %}">Kustviewer</a>
          </div>
          <img id="rightlogo" src="{% static 'lizard_kml/logos.png' %}" alt="Logos" />
        </div>
        {% endblock header %}
        {# End of header #}

        {% block main_area %}
        <div id="main_area" class="clear">
          <div id="sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
          </div>
          {# End of sidebar #}

          <div id="collapser"></div>

          <div id="main">
            <div id="menubar">
              <div id="object-actions">
                {% block object-actions %}
                &nbsp;
                {% endblock object-actions %}
              </div>
              <div id="above-content">
                {% block above-content %}
                {% endblock above-content %}
                &nbsp;
              </div>
            </div>
            {# End of menubar #}

            <div id="content">
              {% block content %}
              {% endblock content %}
            </div>
            {# End of content #}

          </div>
          {# End of main #}
        </div>
        {# End of main_area #}
        {% endblock main_area %}
      </div>
      {# End of container #}
    </div>
    {# End of page #}
    {% endblock page %}
  </body>

  {% if google_tracking_code %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ google_tracking_code }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}
  {# Ajax calls need a CSRF token cookie, and this line sends one as a side effect #}
  <!-- {{ csrf_token }} -->
</html>
