{% load tools %}
<div class="placemark-info-popup">
    <div id="info-{{ view.id }}-tabs" class="tabs">
        <ul>
            <li><a href="#info-{{ view.id }}-tabs-info">Info</a></li>
            <li><a href="#info-{{ view.id }}-tabs-eeg">Timestack 1</a></li>
            <li><a href="#info-{{ view.id }}-tabs-timeseries">Timestack 2</a></li>
            <li><a href="#info-{{ view.id }}-tabs-nourishment">Indicatoren</a></li>
        </ul>
        <div id="info-{{ view.id }}-tabs-info">
            {% include 'jarkus/info_table.html' %}
        </div>
        <div id="info-{{ view.id }}-tabs-eeg">
            <img src="{% absurl lizard-kml-chart chart_type='eeg' id=view.id %}?{{ view.url_params }}"
                 width="800" height="300" class="spinner-when-loading" />
            <p>
                Download grafiek: <a href="{% absurl lizard-kml-chart-download chart_type='eeg' id=view.id format='png' %}?{{ view.url_params }}">png</a> <a href="{% absurl lizard-kml-chart-download chart_type='eeg' id=view.id format='pdf' %}?{{ view.url_params }}">pdf</a>
            </p>
        </div>
        <div id="info-{{ view.id }}-tabs-timeseries">
            <img src="{% absurl lizard-kml-chart chart_type='jarkustimeseries' id=view.id %}?{{ view.url_params }}"
                 width="800" height="300" class="spinner-when-loading" />
            <p>
                Download grafiek: <a href="{% absurl lizard-kml-chart-download chart_type='jarkustimeseries' id=view.id format='png' %}?{{ view.url_params }}">png</a> <a href="{% absurl lizard-kml-chart-download chart_type='jarkustimeseries' id=view.id format='pdf' %}?{{ view.url_params }}">pdf</a>
            </p>
        </div>
        <div id="info-{{ view.id }}-tabs-nourishment">
            <img src="{% absurl lizard-kml-chart chart_type='nourishment' id=view.id %}?{{ view.url_params }}"
                    width="800" height="900" class="spinner-when-loading" />
            <p>
                Download grafiek: <a href="{% absurl lizard-kml-chart-download chart_type='nourishment' id=view.id format='png' %}?{{ view.url_params }}">png</a> <a href="{% absurl lizard-kml-chart-download chart_type='nourishment' id=view.id format='pdf' %}?{{ view.url_params }}">pdf</a>
            </p>
        </div>
    </div>
    <div class="footer">
        <p>Download data als: <a href="{% absurl lizard-kml-xls id=view.id %}">xls</a></p>
        {% if view.transect.previous_id %}
{#            <a href="#">vorige ({{ view.transect.previous_id }})</a>#}
            <a data-dynamic-info="true" href="{% absurl lizard-kml-info id=view.transect.previous_id %}">vorige ({{ view.transect.previous_id }})</a>
        {% endif %}
        {% if view.transect.next_id %}
{#            <a href="#">volgende ({{ view.transect.next_id }})</a>#}
            <a class="next-transect-btn" data-dynamic-info="true" href="{% absurl lizard-kml-info id=view.transect.next_id %}">volgende ({{ view.transect.next_id }})</a>
        {% endif %}
    </div>
</div>
